<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ElectionBot | {{page/title}}</title>
    <link rel="icon" href="data:;base64,=" />
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body>

{{{body}}}

</body>

</html>