<h1>{{{heading}}}</h1>
{{{data/statusText}}}

<form method="post">
    {{{data/configFieldsHtml}}}
    <input type="hidden" name="password" value="{{data/password}}" />
    <button>Save</button>
</form>