<h1>{{{heading}}}</h1>
<form method="post">
    <input type="text" name="message" placeholder="message" maxlength="500" value="" />
    <input type="hidden" name="password" value="{{data/password}}" />
    <button>Send</button>
</form>
{{{data/statusText}}}