:root {
  --body-bg-colour: rgb(222, 222, 222);
  --heading-colour: #000;
  --text-colour: #000;
  --link-colour: rgb(0, 0, 139);
  --border-colour: #aaa;
  --smaller-font-size: 0.9em;

  --bs-gutter-x: 2em;
  --bs-gutter-y: 2em;
}

* {
  line-height: 1.3;
  color: var(--text-colour);
}

body {
  background-color: var(--body-bg-colour);
  overflow-x: hidden;
}

.container {
  max-width: 2560px;
  margin: 0 auto 1.5em;
  padding: 0 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0 0.5em;
  color: var(--heading-colour);
}

h1:first-child {
  margin-top: 10px;
}

nav {
  font-size: var(--smaller-font-size);

  .navitem {
    text-decoration: none;
  }

  .navitem:last-child {
    font-weight: bold;
  }
}

ol,
ul {
  padding-inline-start: 20px;
  padding-left: 20px;
}

li {
  margin: 0.2em 0;
}

a {
  color: var(--link-colour);

  &:visited {
    color: var(--link-colour);
  }
}

iframe.fullscreen {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 30px;
  border: 0;
  z-index: 1;
}

blockquote {
  margin: 2em 0 1.3em;
}

.cursor-pointer {
  cursor: pointer;
}

[data-prefix]:before {
  content: attr(data-prefix);
}

[data-suffix]:after {
  content: attr(data-suffix);
}

pre {
  max-width: 550px;
  margin: 0;
  overflow: auto;
  font-size: var(--smaller-font-size);
  font-family: monospace;
  background: #e6e6e6;
  padding: 3px 6px;
  white-space: pre-wrap;
  word-break: break-word;
}

td:empty::before,
pre:empty::before {
  content: "(none)";
  font-style: italic;
  font-size: 0.9rem;
  color: var(--border-colour);
}

@media (max-width: 767px) {
  body {
    font-size: var(--smaller-font-size);
    word-break: break-word;
  }

  blockquote {
    margin: 1.5em 0;
  }

  pre {
    max-width: none;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .mobile-hidden {
    display: none;
  }

  .dashboard section {
    flex-basis: 100%;
    min-width: 0;
    max-width: none;
    margin-right: 0;
  }
}
