.icon {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition: 0.15s transform ease;
  transform: rotate(0deg);
  font-style: normal;
  font-size: 1rem;
  line-height: 22px;
  text-decoration: none;

  &:hover {
    transform: rotate(360deg);
  }

  &.icon-help:before {
    content: "?";
  }
}
