table {
  min-width: 280px;
  width: 100%;
  margin: 2em 0;
  padding: 6px 10px;
  border: 1px solid var(--border-colour);
  border-collapse: collapse;
}

h2 + table {
  margin-top: 0;
}

th,
td {
  vertical-align: top;
  padding: 6px 10px;
  border: 1px solid var(--border-colour);
  border-collapse: collapse;

  &:first-child {
    white-space: nowrap;
  }

  &:last-child {
    min-width: 200px;
    width: 80%;
  }

  .list {
    margin: 0;
    font-size: var(--smaller-font-size);
  }
}

th {
  text-align: left;
  white-space: nowrap;
}

/* Smaller tables */
.table-small {
  font-size: var(--smaller-font-size);

  th,
  td {
    min-width: 0;
    padding: 3px 8px;

    &:first-child {
      white-space: nowrap;
    }
  }
}

/* Nested tables */
.nested {
  width: calc(100% + 22px);
  margin: -7px -11px;
  font-size: var(--smaller-font-size);

  th,
  td {
    min-width: 40px;
    padding: 3px 8px;

    &:first-child {
      width: 20%;
    }

    &:last-child {
      min-width: 0;
    }
  }
}

.table-small .nested,
.nested .nested {
  width: calc(100% + 18px);
  margin: -4px -9px;
  font-size: 0.9em;
}

@media (max-width: 767px) {
  table {
    max-width: none;
    width: 100%;
    border: none;
    border-left: 1px solid var(--border-colour);
  }

  tr {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  th,
  td {
    border: none;
    padding: 2px 15px;
    padding-right: 0;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      min-width: 0;
      width: auto;
    }
  }

  table thead,
  .nested thead {
    display: none;
  }

  .nested {
    margin: 0;

    .nested {
      margin: 0;
    }

    tr {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: initial;
    }

    th,
    td {
      flex: 0 1 auto;
      padding-left: 0;
      padding-right: 3px;

      &::after {
        content: ",";
      }

      &:first-child::after,
      &:last-child::after {
        content: "";
      }

      &:nth-child(-n + 2) {
        padding-left: 10px;
      }
    }
  }
}
