* {
    font-family: Arial, sans-serif;
    color: #000;
}
body {
    margin: 0;
    padding: 20px 30px;
    background-color: rgb(240, 225, 210);
}
h1 {
    font-size: 1.3rem;
    color: #000;
}
h2 {
    font-size: 1.15rem;
    color: #333;
}
div, p, span {
    font-size: 1.05rem;
}
a {
    color: rgb(0, 0, 139);
}
a:visited {
    color: rgb(0, 0, 0);
}
blockquote {
    margin: 2em 0;
}
table {
    max-width: 800px;
    margin: 2em 0;
}
h2 + table {
    margin-top: 0;
}
table, th, td {
    padding: 8px 10px;
    border: 1px solid #888;
    border-collapse: collapse;
}
th, td {
    min-width: 120px;
}
form {
    max-width: 800px;
}
form * {
    font-size: 0.9rem;
}
form label {
    font-weight: bold;
}
form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #999;
}
form textarea {
    min-height: 130px;
}
form button {
    padding: 8px 20px;
}
.result {
    margin: 30px 0px;
    padding: 12px 14px;
    border-radius: 5px;
}
.result.success {
    color: darkgreen;
    background-color: rgb(248, 255, 238);
}
.result.error {
    color: indianred;
    background-color: rgb(255, 238, 238);
}