* {
    font-family: Arial, sans-serif;
    color: #333;
}
body {
    margin: 0;
    padding: 20px;
    background-color: rgb(240, 225, 210);
}
h1 {
    font-size: 1.17rem;
    color: #000;
}
div, p, span {
    font-size: 1.05rem;
}
form {
    max-width: 800px;
}
form input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 5px 10px;
    border-radius: 5px;
}
form button {
    padding: 5px 10px;
}
.result {
    margin-top: 10px;
}
.result.success {
    color: darkgreen;
}
.result.error {
    color: indianred;
}