<h2 class="fs-4">{{ header }}</h2>
<table>
  <tr>
    <td>Privileged</td>
    <td>
      <table class="nested">
        <tr>
          <td>Admins</td>
          <td>
            <table class="nested">
              {{#each users/admins}}
                <tr><td>{{{url link label=display_name}}}</td></tr>
              {{/each}}
            </table>
          </td>
        </tr>
        <tr>
          <td>Devs</td>
          <td>
            <table class="nested">
              {{#each users/devs}}
                <tr><td>{{{url link label=display_name}}}</td></tr>
              {{/each}}
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>