<header>
  <nav>
    <select class="nav-dropdown" id="nav">
      <option selected="selected">Menu</option>
      {{#each routes}}
      {{#unlessEquals @key ../path}}
        {{#if (either this.public ../password)}}
        <option value="{{@key}}{{#if ../password}}?password={{../password}}{{/if}}">
          {{initIfFalsy (unprefix "/" @key) "home"}}
        </option>
        {{/if}}
      {{/unlessEquals}}
      {{/each}}
    </select>
  </nav>
</header>