{{> navigation routes=data/routes password=data/password path=data/path }}

<main class="dashboard">
    <section>
        <h2>Clients</h2>
        <table class="table-small">
            <thead>
                <tr>
                    <th>Stat</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Connected</td>
                    <td>{{data/numConnections}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
