<h1>{{{heading}}}</h1>

{{> breadcrumbs current=current }}

<main class="dashboard">
    <section>
        <aside>
            <h2>Configuration</h2>
            {{> deep data top=true}}
        </aside>
    </section>

    <section>
        <aside>
            <h2>Routes</h2>
            <table>
                <thead>
                    <tr>
                        <th>path</th>
                        <th>methods</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data/routes}}
                    <tr>
                        <td>{{ path }}</td>
                        <td>{{ methods }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </aside>
    </section>
</main>