{{> navigation routes=data/routes password=data/password path=data/path }}

<h1>{{{heading}}}</h1>

{{> breadcrumbs current=current }}

<main class="dashboard">
    <section>
        <aside>
            <h2>Configuration</h2>
            {{> deep data top=true}}
        </aside>
    </section>

    <section>
        <aside>
            <h2>Routes</h2>
            <table class="table-small">
                <thead>
                    <tr>
                        <th>path</th>
                        <th>methods</th>
                        <th>public</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data/routes}}
                    <tr>
                        <td>{{{ url @key }}}</td>
                        <td>{{ join this/methods ", " }}</td>
                        <td>{{{ yesno this/public }}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </aside>
    </section>
</main>