form {
  margin: 2em 0 3em;
}

form * {
  font-size: 0.9rem;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--border-colour);
}

form input::placeholder {
  color: #ccc;
  font-size: var(--smaller-font-size);
}

form textarea {
  min-height: 130px;
}

form button {
  padding: 8px 20px;
  font-size: 1em;
}

form .form-controls {
  margin: 1.5em 0;
}

form.equal-columns .form-controls {
  max-width: unset;
}