header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-colour);
  box-shadow: 0 0.5px 2px var(--border-colour);
}

header nav ul {
  display: flex;
  list-style: none;
  text-align: center;
}

header nav li {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

header nav li:not(:first-child) {
  border: 1px solid var(--border-colour);
  border-width: 0 0 0 1px;
}

header nav li a {
  text-decoration: none;
}

header nav li a:hover {
  text-decoration: underline;
}
