:root {
  --heading-colour: #000;
  --text-colour: #000;
  --link-colour: rgb(0, 0, 139);
  --border-color: #999;
  --margin-size: 40px;
  --smaller-font-size: 0.85em;
}

* {
  font-family: Arial, sans-serif;
  line-height: 1.3;
  color: var(--text-colour);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  font-size: 1em;
  background-color: rgb(242, 232, 222);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0 0.5em;
}
h1:first-child {
  margin-top: 10px;
}

h1 {
  font-size: 1.4em;
  color: var(--heading-colour);
}
h2 {
  font-size: 1.2em;
  color: var(--heading-colour);
}

nav {
  font-size: var(--smaller-font-size);
}
nav .navitem {
  text-decoration: none;
}
nav .navitem:last-child {
  font-weight: bold;
}

ol,
ul {
  padding-inline-start: 20px;
  padding-left: 20px;
}
li {
  margin: 0.2em 0;
}

a {
  color: var(--link-colour);
}
a:visited {
  color: var(--text-colour);
}

blockquote {
  margin: 2em 0 1.3em;
}

table {
  min-width: 280px;
  width: 100%;
  margin: 2em 0;
}
table.smaller-table {
  margin: 1em 0;
  font-size: var(--smaller-font-size);
}

h2 + table {
  margin-top: 0;
}

table,
th,
td {
  padding: 6px 10px;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

th,
td {
  min-width: 150px;
  vertical-align: top;
}

th:last-child,
td:last-child {
  min-width: 300px;
  width: 80%;
}

th {
  text-align: left;
  white-space: nowrap;
}

td .list {
  margin: 0;
  font-size: var(--smaller-font-size);
}

/* Nested tables */
table.nested {
  width: calc(100% + 22px);
  margin: -7px -11px;
  font-size: var(--smaller-font-size);
}

table.nested th,
table.nested td {
  min-width: 0;
  padding: 3px 8px;
}

table.nested th:first-child,
table.nested td:first-child {
  width: 30%;
}

table.nested th:last-child,
table.nested td:last-child {
  min-width: 0;
}

pre {
  max-width: 550px;
  margin: 0;
  overflow: auto;
  font-size: var(--smaller-font-size);
  font-family: monospace;
  background: #e6e6e6;
  padding: 3px 6px;
  white-space: pre-wrap;
  word-break: break-word;
}

td:empty::before,
pre:empty::before {
  content: "(none)";
  font-style: italic;
  font-size: 0.9rem;
  color: var(--border-color);
}

form {
  max-width: 800px;
  margin: 2em 0 3em;
}
form * {
  font-size: 0.9rem;
}
form label {
  font-weight: bold;
}
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}
form input::placeholder {
  color: #ccc;
  font-size: var(--smaller-font-size);
}
form textarea {
  min-height: 130px;
}
form button {
  padding: 8px 20px;
  font-size: 1em;
}
form .form-controls {
  margin: 1.5em 0;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  max-width: 1400px;
}
.dashboard section {
  flex: 1 1 calc(33% - var(--margin-size));
  max-width: 48%;
  margin-right: var(--margin-size);
}
.dashboard section:last-child {
  margin-right: 0;
}
.dashboard section aside {
  margin-bottom: var(--margin-size);
}

.result {
  margin: 30px 0px;
  padding: 12px 14px;
  border-radius: 5px;
  font-size: 1.15em;
}
.result.success {
  color: darkgreen;
  background-color: rgb(248, 255, 238);
}
.result.error {
  color: indianred;
  background-color: rgb(255, 238, 238);
}

.truthy {
  font-weight: bold;
  color: green;
}
.falsy {
  font-weight: bold;
  color: indianred;
}

.nowrap,
.relativetime {
  white-space: nowrap;
}
.relativetime {
  font-style: italic;
}
.relativetime:not(:empty)::before {
  content: "(";
  font-style: normal;
}
.relativetime:not(:empty)::after {
  content: ")";
  font-style: normal;
}

.small-count {
  position: relative;
  top: -1px;
  font-size: var(--smaller-font-size);
  font-style: italic;
}

.cursor-pointer {
  cursor: pointer;
}

[data-prefix]:before {
  content: attr(data-prefix);
}
[data-suffix]:after {
  content: attr(data-suffix);
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}

@media (max-width: 767px) {
  body {
    padding: 20px 20px;
    font-size: var(--smaller-font-size);
    word-break: break-word;
  }

  blockquote {
    margin: 1.5em 0;
  }

  table {
    max-width: none;
    width: 100%;
    border: none;
    border-left: 1px solid var(--border-color);
  }

  tr {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    margin: 15px 0;
  }

  th,
  td {
    border: none;
    padding: 2px 15px;
    padding-right: 0;
  }

  tr:first-child {
    margin-top: 0;
  }

  tr:last-child {
    margin-bottom: 0;
  }

  table.nested {
    margin: 0;
  }
  table.nested thead {
    display: none;
  }
  table.nested tr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: initial;
  }

  table.nested th,
  table.nested td {
    flex: 0 1 auto;
    padding-left: 0;
    padding-right: 3px;
  }

  table.nested th::after,
  table.nested td::after {
    content: ",";
  }

  table.nested th:first-child::after,
  table.nested td:first-child::after,
  table.nested th:last-child::after,
  table.nested td:last-child::after {
    content: "";
  }

  table.nested th:nth-child(-n + 2),
  table.nested td:nth-child(-n + 2) {
    padding-left: 10px;
  }

  table.nested th:first-child,
  table.nested td:first-child {
    flex: 0 0 100%;
    min-width: 0;
  }

  th:first-child,
  td:first-child {
    font-weight: bold;
  }
  th:last-child,
  td:last-child {
    min-width: 0;
    width: auto;
  }

  pre {
    max-width: none;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .dashboard section {
    flex-basis: 100%;
    max-width: none;
    margin-right: 0;
  }

  .mobile-hidden {
    display: none;
  }
}
