@import "_general.css";
@import "_header.css";
@import "_tables.css";
@import "_forms.css";

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.dashboard section {
  flex: 1 1 calc(25% - var(--margin-size));
  margin-right: var(--margin-size);
}

.dashboard section:last-child {
  margin-right: 0;
}

.dashboard section aside {
  margin-bottom: var(--margin-size);
}

.result {
  margin: 30px 0px;
  padding: 12px 14px;
  border-radius: 5px;
  font-size: 1.15em;
}

.result.success {
  color: darkgreen;
  background-color: rgb(248, 255, 238);
}

.result.error {
  color: indianred;
  background-color: rgb(255, 238, 238);
}

.truthy {
  font-weight: bold;
  color: green;
}

.falsy {
  font-weight: bold;
  color: indianred;
}

.nowrap,
.relativetime {
  white-space: nowrap;
}

.relativetime {
  font-style: italic;
}

.relativetime:not(:empty)::before {
  content: "(";
  font-style: normal;
}

.relativetime:not(:empty)::after {
  content: ")";
  font-style: normal;
}

.small-count {
  position: relative;
  top: -1px;
  font-size: var(--smaller-font-size);
  font-style: italic;
}
